*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
     background: azure;
}
.texto{
    max-width: 100%;
    width: 100px;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 70px;
}
h1{
    text-align: center;
}


   .fotos img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
   }

   .container-fotos {
       display: flex;
       justify-content: center;
       gap: 20px;
   }